<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AppSettings.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
  <userSettings>
    <AppSettings.Properties.Settings>
      <setting name="HelloWorld" serializeAs="String">
        <value>4546456</value>
      </setting>
      <setting name="New" serializeAs="String">
        <value>100</value>
      </setting>
      <setting name="Setting" serializeAs="String">
        <value>00:00:00</value>
      </setting>
    </AppSettings.Properties.Settings>
  </userSettings>
</configuration>