@using MVC.Models
@model Class1
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>TestView</title>
</head>
<body>
    <div>
        <b>Class1 Details </b><br />
        A : @Model.A <br />
        B : @Model.B
    </div>
</body>
</html>
